html {
  height: 100%;
}
body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.download1,
.download2 {
  text-align: center;
  color: aquamarine;
  font-size: 16px;
}

.download1 {
  position: relative;
  bottom: 720px;
  left: 170px;
}

h1 {
  font-weight: normal;
  font-size: 40px;
  text-align: center;
}

h2,
.comingSoon {
  font-weight: 300;
  font-size: 42px;
}

video {
  position: relative;
  right: 140px;
  bottom: -10px;
}

p {
  color: gray;
  font-size: 21px;
}

footer p {
  position: relative;
  left: 400px;
  color: gray;
}
